<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>D3 Bar Chart</title>
  </head>
  <body>
    <svg width="960" height="500"></svg>
    <button id="update-chart">Click me!</button>
  </body>
</html>
