<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>D3 Bar Chart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h3 class="chart-title">Title</h3>
      <div class="select-wrapper">
        <select></select>
      </div>
      <div id="chart-container">
        <svg></svg>
      </div>
      <div class="description-wrapper">
        <p id="description"></p>
        <p class="source">OECD/ILO (2018), How Immigrants Contribute to Developing Countries' Economies, OECD Publishing, Paris.</p>
      </div>
    </div>
  </body>
</html>
