@font-face {
    font-family: 'FS Me Web Regular';
    src: url(http://www.ilo.org/wcmsp5/ilo/global/fonts/FSMePro/Latin/Regular/FSMeWeb-Regular.eot);
    src: url(http://www.ilo.org/wcmsp5/ilo/global/fonts/FSMePro/Latin/Regular/FSMeWeb-Regular.eot?#iefix) format('embedded-opentype'), url(http://www.ilo.org/wcmsp5/ilo/global/fonts/FSMePro/Latin/Regular/FSMeWeb-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'FS Me Web Italic';
    src: url(http://www.ilo.org/wcmsp5/ilo/global/fonts/FSMePro/Latin/Italic/FSMeWeb-Italic.eot);
    src: url(http://www.ilo.org/wcmsp5/ilo/global/fonts/FSMePro/Latin/Italic/FSMeWeb-Italic.eot?#iefix) format('embedded-opentype'), url(http://www.ilo.org/wcmsp5/ilo/global/fonts/FSMePro/Latin/Italic/FSMeWeb-Italic.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'FS Me Web Bold';
    src: url(http://www.ilo.org/wcmsp5/ilo/global/fonts/FSMePro/Latin/Bold/FSMeWeb-Bold.eot);
    src: url(http://www.ilo.org/wcmsp5/ilo/global/fonts/FSMePro/Latin/Bold/FSMeWeb-Bold.eot?#iefix) format('embedded-opentype'), url(http://www.ilo.org/wcmsp5/ilo/global/fonts/FSMePro/Latin/Bold/FSMeWeb-Bold.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'FS Me Web Bold Italic';
    src: url(http://www.ilo.org/wcmsp5/ilo/global/fonts/FSMePro/Latin/BoldItalic/FSMeWeb-BoldItalic.eot);
    src: url(http://www.ilo.org/wcmsp5/ilo/global/fonts/FSMePro/Latin/BoldItalic/FSMeWeb-BoldItalic.eot?#iefix) format('embedded-opentype'), url(http://www.ilo.org/wcmsp5/ilo/global/fonts/FSMePro/Latin/BoldItalic/FSMeWeb-BoldItalic.woff) format('woff');
    font-weight: 400;
    font-style: normal
}
