// Color scheme
$ilo-blue: #37468e;
$ilo-dark-blue: #263062;
$ilo-light-blue: #6b91cb;
$ilo-orange: #ce5c3c;
$ilo-gray: #e2d4c7;
$ilo-dark-gray: #4B4B4B;
$ilo-purple: #5b1659;
$ilo-light-purple: #786f9f;
$ilo-fuchsia: #911474;
$ilo-turqoise: #008e88;
$ilo-green: #539e36;

// Dimensions
$max-chart-width: 846px;

// Typography
$line-height: 1.3px;
$font-regular: 'FS Me Web Regular', Helvetica, Arial, Verdana, sans-serif;
$font-bold: 'FS Me Web Bold', Helvetica, Arial, Verdana, sans-serif;
$font-italic: 'FS Me Web Italic', Helvetica, Arial, Verdana, sans-serif;
$font-bold-italic: 'FS Me Web Bold Italic', Helvetica, Arial, Verdana, sans-serif;
