h3 {
  font-family: $font-regular;
  font-size: 1.10rem;
  text-align: center;
}

text {
  font-size: 12px;
  font-family: $font-regular;
}

p {
  font-family: $font-regular;
  font-size: 1rem;
}

p.source {
  font-family: $font-bold;
  font-size: .80rem;
}
